.AdminPage {
    font-size: 14pt;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.AdminPage .menu div {
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
}
.AdminPage td {
    border-top: 1px solid black;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.AdminPage th {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.AdminPage table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 50px;
}
.AdminPage h1  {
    cursor: pointer;
    width: fit-content;
}
.AdminPage table input {
    font-size: 14pt;
    width: 120px;
}
.AdminPage .borderTable th {
    border: 1px solid black;
    width: 100px;
}
.AdminPage select {
    font-size: 14pt;
}
.AdminPage .tableNoneBorder td {
    border: none;
    text-align: left;
}
.AdminPage textarea {
    font-size: 14pt;
}