.FormLabel {
    width: 100%;
    /* position: relative; */
}
.FormLabel .labelName {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 121%;
    color: #515562;  
}
.FormLabel input {
    height: 40px;
    width: 93%;
    height: 43%;
    margin: auto;
    font-size: 14px;
    outline: none;
    border: none;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: #323540;
}
.FormLabel .inputBlock {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #ADB1BB;
    display: flex;
    margin-top: 8px;
    box-sizing: border-box;
    position: relative;
}
.FormLabel .inputBlockError {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #ffb0b0;
    display: flex;
    margin-top: 8px;
    box-sizing: border-box;
    position: relative;
}
.FormLabel .inputBlockFocus {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #555555;
    display: flex;
    margin-top: 8px;
    box-sizing: border-box;
    position: relative;
}
.FormLabel .suggestions {
    position: absolute;
    top: 38px;
    left: -1px;
    width: 100%;
    border: 1px solid #ADB1BB;
    box-sizing: border-box;
    z-index: 8;
}