@import url("../fonts/pt-root-ui/stylesheet.css");
@import url("../fonts/futura-pt/stylesheet.css");
.HeaderU {
    overflow: hidden;
    min-height: 136px;
}
.openedCatalogBlock {
    margin: auto;
    width: 1440px;
}
.HeaderLower {
    min-height: 96px;
    background-color: rgba(18, 81, 139, 0.1);
    overflow: hidden;

}
.HeaderLowerBlock {
    min-height: 96px;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}
.HeaderContacts {
    width: 251px;
    height: 40px;
    float: right;
    margin: auto;
}
.HeaderContactsSvgWa {
    margin-left: 24px;
    float: left;
    margin-top: 13.5px;
}
.HeaderContactsTextWa {
float: left;
margin-top: 12px;
margin-left: 4px;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 121%;

text-decoration-line: underline;

color: #FFFFFF;
}
.HeaderContactsSvgInst {
    float: left;
    margin-top: 13.5px;
}
.HeaderContactsTextInst {
    
float: left;
margin-top: 12px;
margin-left: 4px;
font-family: 'PT Root UI';
 font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 121%;

 text-align: right;
text-decoration-line: underline;

color: #FFFFFF;
}

.HeaderCartSvg {
    float: left;
    margin-top: 37.45px;
    margin-left: 24px;
}
.HeaderCartSvgDown {
    margin-top: 1.41px;
    margin-left: 1.4px;
}
.HeaderCartSvgUp {
    margin-left: 0px;
}
.HeaderCartText {
margin-top: 39.5px;
margin-left: 8px;
float: left;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-break: loose ;
 line-height: 121%;
 text-decoration-line: underline;
cursor: pointer;

color: #323540;
}

.HeaderAuthSvg {
    margin-top: 36px;
    margin-left: 26px;
    float: left;
}
.HeaderAuthSvgHead {
    margin-left: 5px;
}
.HeaderAuthSvgBody {
    margin-top: 0px;
}
.HeaderAuthText {
margin-top: 39.5px;
margin-left: 10px;
float: left;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 121%;
    cursor: pointer;
 text-decoration-line: underline;


color: #323540;
}
.HeaderFavouriteSvg {
    margin-left: 84px;
    margin-top: 35px;
    float: left;
}

.HeaderFavouriteText {
    
margin-top: 39.5px;
margin-left: 8px;
float: left;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 121%;
cursor: pointer;

 text-decoration-line: underline;

color: #323540;
}

.HeaderSearchSvg {
    margin-top: 14px;
    margin-right: 19px;
    float: right;
    cursor: pointer;
}
.HeaderSearch input {
margin-top: 6px;
border: none;
background: #F7F7FC;
outline: none;
font-size: 20pt;
width: 410px;
float: left;
margin-left: 10px;
}
.HeaderSearch {
float: left;
width: 472px;
height: 48px;
margin-top: 24px;
background: #F7F7FC;
}
.HeaderCatalogRectBlock {
    margin-left: 24px;
    margin-top: 18.5px;
    float: left;
}
.HeaderCatalogText {
float: right;
margin-right: 24px;
margin-top: 15.5px;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 121%;
text-decoration-line: underline;
text-transform: uppercase;
text-decoration-thickness: 0.8px;
text-underline-offset: 1px;


color: #FFFFFF;
}
.HeaderCatalogRect {
    width: 16px;
    height: 1.5px;
    margin-bottom: 3.21px;
    background-color: white;
}
.HeaderCatalogRectOpened1 {
    float: left;
    margin-top: 4px;
    margin-left: -5px;
    width: 21px;
    height: 2px;
    background-color: #FFFFFF;
transform: rotate(45deg);
}
.HeaderCatalogRectOpened2 {
    float: left;
    width: 21px;
    height: 2px;
    margin-top: 4px;
    margin-left: -21px;
    background-color: #FFFFFF;
transform: rotate(135deg);
}
.HeaderCatalog {
    width: 132px;
    height: 48px;
    margin-top: 24px;
    margin-left: 52px;
    float: left;
    background: #12518B;
    cursor: pointer;
}
.HeaderCatalog:hover {
    
    background: #114c84;
}
.HeaderName {
    margin-left: 110px;
    margin-top: 25px;
    font-family: 'Futura PT';
     font-style: normal;
    font-weight: 450;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    text-transform: lowercase;
    color: #515562;
    float: left;
    cursor: pointer;
}
.HeaderInfolink {
margin-right: 24px;
margin-top: 12px;
float: left;
font-family: 'PT Root UI';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-decoration-line: underline;
color: #FFFFFF;
}
.HeaderInfolinks {
    padding-left: 96px;
}
.HeaderUpper {
min-height: 40px;
background-color: #12518B;
overflow: hidden;
}
.HeaderUpperBlock {
    min-height: 40px;
    overflow: hidden;
    max-width: 1440px;
    margin: auto;
}