.PageRoute {
    width: 100%;
    overflow: hidden;
    height: 22px;
}
.PageRouteBackSvg {
    /* float: left; */
    cursor: pointer;
    opacity: 0.8;
    /* margin: auto; */
    /* margin-left: 0; */
    /* margin-right: 8px; */
}
.PageRouteBack {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.PageRoute .routes .item .route {
    float: left;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    text-decoration-thickness: 0.8px;
    text-underline-offset: 1px;
    color: #616575;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 0px;
}
.PageRoute .routeBack {
    /* margin: auto; */
    margin-left: 8px;
    /* float: left; */
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    text-decoration-thickness: 0.8px;
    text-underline-offset: 1px;
    color: #616575;
    opacity: 0.7;
    cursor: pointer;
    /* margin-top: 3px; */
}
.PageRoute .routes .item {
    float: left;
    margin-left: 1px;
}
.PageRoute .routes {
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 3px;
}
.PageRoute .routes .item .slash {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #616575;
    opacity: 0.7;
    float: left;
}
.PageRoute .routes .routeLast {
    float: left;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #616575;
    opacity: 0.8;
    cursor: pointer;   
}
.PageRoute .PageRouteBackLine {
    background-color: #CDCFD6;
    margin-left: 16px;
    margin-right: 16px;
    /* float: left; */
    width: 0.8px;
    height: 22px;
}
.PageRouteBackCurrent {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #323540;
    /* margin-left: 16px; */
    /* float: left; */
}