.PageRoute {
    margin-top: 32px;
}
.PageRoute .back {
    float: left;
    cursor: pointer;
}
.PageRoute .route {
    float: left;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #616575;
    opacity: 0.8;
    cursor: pointer;
}
.PageRoute .routeLast {
    float: left;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #616575;
    opacity: 0.8;
    cursor: pointer;   
}