.Product {
    width: 288px;
    height: 488px;
}
.Product .imageContainer {
    width: 100%;
    height: 407px;
    overflow: hidden;
    position: relative;
}
.Product .imageContainer .image {
    background-size:cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.Product .imageContainer .favourite {
    right: 24px;
    top: 22px;
    float: right;
    position: absolute;
    z-index: 2;
}
.Product .image .message {
    float: left;
    margin-top: 24px;
    height: 24px;
    width: fit-content;
    background-color: #12518B;
}
.Product .image .message .text {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 3px;
    margin-left: 17px;
    margin-right: 17px;
}
.Product .name {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 121%;
    text-decoration-line: underline;
    color: #515562;
    margin-top: 16px;
    cursor: pointer;
}
.Product .price {
    margin-top: 24px;
    width: 100%;
}
.Product .price .normal {
    float: left;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 121%;
    color: #515562;
}
.Product .price .old {
    float: left;
    font-family: 'PT Root UI';
    font-style:normal;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 15px;
    line-height: 121%;
    color: #90929a;
    margin-right: 10px;
}